font-family: 'Merriweather', serif;
font-family: 'Righteous', cursive;

body{
    background-color: rgb(209, 211, 229);
    text-align: center;
}

header{
    background-color: rgb(209, 211, 229);
    text-align: center;
    font-family: 'Merriweather', serif;
}

nav > ul > li {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
    font-family: 'Righteous', cursive;
    font-size: 20pt;   
}


footer {
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  background-color: rgb(142, 5, 7);
}

h1{
    color: rgb(142, 5, 7);
    font-family: 'Righteous', cursive;
    text-align: center;
        font-size: 60pt
}

h2{
    color:rgb(142, 5, 7);
    font-family: 'Righteous', cursive;
    text-align: center;
    font-size: 30pt
}



body{
    background-color: rgb(209, 211, 229);
}

.container {
  width: 80%;
  margin: 0 auto;
    background-color: rgb(209, 211, 229);
   font-family: 'Merriweather', serif;
    font-size: 11pt;
    line-height: 20pt;
    
    
    
}

/*img {
  max-width: 100%;
}*/

video



.flyingtwo{
    max-width: 100%;
        margin-left: auto;
    margin-right: auto;      
}

.charactercast{
    max-width: 100%;
}

.headphoto{
    max-width: 80%;
    animation-name: flight;
    animation-duration: 5s;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-timing-function:ease-in;
    animation-delay: 2s;
        
}

@keyframes flight {
    
    0%, 100% {
        transform: translate(0,0);
    }
    50% {
        transform: translate(600px,0);
    }
}



.hc{
    max-width: 100%;
        margin-left: auto;
    margin-right: auto;
    
}

.factslist{
  text-align: left;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}
    
table{ 
    
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
    
}

.sumtext{
    text-align: left;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    
    
}


.mvclip{
    max-width: 100%;
        margin-left: auto;
    margin-right: auto;
    
}


.lastphoto{
    max-width: 100%;
        margin-left: auto;
    margin-right: auto;
    
}

.footertext{
    color:whitesmoke
}






